[submodule "cookbooks/tomcat"]
	path = cookbooks/tomcat
	url = https://github.com/opscode-cookbooks/tomcat.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/socrata/java.git
[submodule "cookbooks/zookeeper"]
	path = cookbooks/zookeeper
	url = https://github.com/SimpleFinance/chef-zookeeper.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
